<h1> Hello, welcome. </h1>


<% class Greet
attr_reader :name
def greet (name)
def initialize(name)
   @name = gets.chomp
   @name = .capitalize!
   return @name
 end

%>

<% compliments = [
  "People behind you in class think you are the perfect height.",
  "Your instructors think you're amazing.",
  "Your posture during breaks effectively masks your exhaustion.",
  "Your commit messages are an inspiration to us all",
  "Your fingers are magic on the keys",
  "You are the moon of my life...my sun and stars"
]

def retrieve_random_compliment(arr)
  random_comp = rand(arr.length)
  get_compliment = arr[random_comp]
  return get_compliment
end
%>

<p> <%= retrieve_random_compliment(compliments) %> </p>
<p> <%= link_to "I'm still emotionally vacant. Give me another compliment.", "/" %> </p>
<p> <%= link_to "I'm ready to soldier on.", "https://ruby-doc.org/" %> </p>
<p> <%= link_to "Hi, #{greet}", "/show" %> </p>
